.header {
  align-items: center;
  background-color: rgb(14, 27, 24, 0.9);
  border-bottom: 4px solid rgb(163, 163, 163);
  border-radius: 0 0 10px 10px;
  color: rgb(231, 231, 231);
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

.title-container {
  background-color: rgb(14, 27, 24);
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
  font-family: Times New Roman, Times, serif;
  height: 70px;
  margin-left: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
}

.user-container {
  display: flex;
  flex-direction: row;
  font-family: Times New Roman, Times, serif;
  font-style: oblique;
  font-weight: 600;
  justify-content: space-around;
  margin-right: 10px;
  width: 35%;
}

.total-expense-field {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.user-email {
  text-transform: lowercase;
}

.brl {
  margin-left: -2px;
}
